button{
    background-color: #c4c4c4;
    color: #fff;
    border-radius: 4px;
    display: block;
    padding: 15px;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}